 .logo{padding: 4px; margin: 3px;}
        .navbar-nav{padding-right: 710px;}
        .nav-item{padding-left: 20px;}
        .nav-link{color: coral;}
        
        .naslov {position: absolute; top:25%; left:10%; color: cornflowerblue;}
        .relative{position:relative;}
        .aq{font-size: 150px; font-style: italic; font-family: "Carattere"; text-shadow: 3px 3px 3px #ababab;}
        .txt1{font-size: 30px;}
        .br{ color: darkslateblue; }
        button{font-weight: bold; border: none; background-color: coral; color: white; padding: 10px; border-radius: 10px; font-size: 20px;}
        
        .naslov1{display: none;}
        
        .proz1{display: none;}
        
        @media only screen and (max-width: 992px) {
            .logo{width: 60px;}
            .naslov{display: none;}
            .naslov1{display: block; padding-left: 120px; padding-top: 30px; padding-bottom: 30px; color: cornflowerblue;} 
            .aq{font-size: 80px; font-style: italic; font-family: "Carattere"; text-shadow: 3px 3px 3px #ababab;}
            .txt1{font-size: 25px;}
            .br{ color: darkslateblue; }
            button{font-weight: bold; border: none; background-color: coral; color: white; padding: 10px; border-radius: 10px; font-size: 15px;}
            .nav-item{padding-left: 10px; font-size: 12px;}
            .card{padding: 5px;}
            .proz{display: none;}
            .proz1{display: block;}
        }
        @media only screen and (max-width: 576px) {
            .naslov1{padding-left: 60px;}
.logo{width: 60px;}
        }
        
        #sec1{background-color: coral; color: white; margin-top: 40px; padding-left: 30px; padding-bottom: 50px; padding-top: 50px;}
        
        #custom-cards{color: cornflowerblue;}
        
        .xtx2{color: cornflowerblue;}
        
        .card{padding: 15px; margin-top: 40px; text-align: center; color: white;}
        .card-text{margin-top: 20px;}

        
        #rez{color: cornflowerblue;}
        
        #foot{background-color: cornflowerblue;  color: white;}
        #ft{margin-left: 80px;}
        
        #myBtn {
        width:100px;
        display: none; 
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: none; 
        outline: none; 
        background-color:darkblue; 
        color: white; 
        cursor: pointer; 
        padding: 20px; 
        border-radius: 15px; 
        font-size: 18px;}
        #myBtn:hover {
        background-color: brown;}
